<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>453959231408-vd7a3e238o9n7rjnqhnfk00v1n825tut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453959231408-vd7a3e238o9n7rjnqhnfk00v1n825tut</string>
	<key>API_KEY</key>
	<string>AIzaSyA8s3gfgKZXeLqEclKcFlLwdWBOnIro12w</string>
	<key>GCM_SENDER_ID</key>
	<string>453959231408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsukudabuddha.RunTheWorld</string>
	<key>PROJECT_ID</key>
	<string>monkey-business-16ca6</string>
	<key>STORAGE_BUCKET</key>
	<string>monkey-business-16ca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:453959231408:ios:f630fc02c6288c2e</string>
	<key>DATABASE_URL</key>
	<string>https://monkey-business-16ca6.firebaseio.com</string>
</dict>
</plist>
